<h1>@ViewBag.Title</h1>

<a class="btn btn-outline-primary" href="/App/CreateCustomer">Create new customer</a>
<a class="btn btn-outline-primary" href="/App/CustomerList">Customer list</a>
<a class="btn btn-outline-primary" href="/App/SearchCustomer">Search customer</a>